@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Configurações gerais*/

* {
    margin: 0px;
    padding: 0px;
}

/*Configuração Header*/
header {
    width: 100%;
    height: 560px;
    background-color: #213F54;
} 

main img {
    display: none;
}

.background-header {
    background-image: url(Imagens/Background-header-mobile.png);
    width: 414px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
} 

.menu-desktop{
    display: none;
}

/*Configuração Nav-Bar*/
.nav-bar{
    width: 392px;
    height: 16px;
    position: relative;
    top: 79px;
}

.lupa{
    position: relative;
    left: 315px;
}

.menu-mobile{
    position: relative;
    left: 34px;
}

/*Configuração TextoHeader*/

.texto-header{
    background: #FFF;
    width: 390px;
    height: 288px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    top: 200px;
    opacity: 80%;

    padding-left: 16px;
    padding-top: 32px;
    box-sizing: border-box;
}

.texto-header h1{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    font-size: 28px;

    display: block;
    margin-bottom: 16px;
}

.texto-header p{
    font-family: Roboto;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    width: 360px;

    display: block;
}

.texto-header a{
    display: none;
}

.vermais{
    width: 99px;
    height: 34px;
    background: #293B47;
    box-shadow: 0px 1.90099px 1.90099px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    box-sizing: border-box;

    color: #FFF;
    text-align: center;
    padding-top:8px ;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;

    margin-left: auto;
    margin-right: 16px;
    margin-top: 8px;
}

.divisão{
    width: 100%;
    height: 16px;
    background: #293B47;
}

/*Configurações do main*/

main {
    width: 100%;
    height: 752px;
    background: #EEFDFF;
}

.background-main {
    width: 414px;
    height: 752px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 64px;
    box-sizing: border-box;
}

.background-main section {
    width: 392px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 9px;
    margin-right: auto;
    margin-left: auto;
}

.background-main .sessão1 {
    height: 352px;
    margin-bottom: 33px;
    box-sizing: border-box;
    padding-top: 32px;

}

.background-main .sessão2 {
    height: 240px;
    box-sizing: border-box;
    padding-top: 32px;
}

.background-main section h2 {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;

    margin-left: 16px;
    display: block;
}

.background-main section p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: justify;

    color: #474E54;

    display: block;
    width: 360px;
    margin-top: 16px;

    border-left: 8px solid #004C81;
    padding-left: 8px;
}

/*Configurações do carrosel*/

.sessão3 {
    width: 100%;
    height: 628px;
    background-image: url(Imagens/nuno-marques-0GbrjL3vZF4-unsplash.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    color: #FFF;
}

.sessão3 #degrade {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(10, 23, 33, 0.82) 34.56%, rgba(10, 23, 33, 0) 100%);;
}

.gambiarra {
    width: 414px;
    height: 628px;

    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
    padding-top: 64px;
}

.carrossel {
    display: flex;
    overflow-x: auto;
    padding-left: 16px;
    padding-right: 40px;
    box-sizing: border-box;

    margin-right: auto;
    margin-left: auto;
    margin-top: 64px;
    width: 100%;
}

.carrossel .item {
    height: 357px;
    text-align: center;
    margin-left: 24px;
}

.carrossel .d h3{
    opacity: 0%;
}

.carrossel::-webkit-scrollbar {
    width: 0px;
}

#texto-sessão3 {
    padding-left: 11px;
}

#texto-sessão3 h2 {
    margin-bottom: 16px; 
}

/*Texto do carrosel*/

.carrossel h3 {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    display: block;
    border-left: 8px solid #6AB3E5;
    margin-bottom: 16px;
}

/*Footer*/

.rodape-mobile {
    width: 100%;
    height: 384px;
    background-color: #CDE2F1;
}

.rodape {
    width: 414px;
    height: 384px;
    padding-left: 11px;
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;
}

.rodape h3 {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;

    border-left: 6px solid #0A1721;
    box-sizing: border-box;
    padding-left: 5px;
}

.rodape p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #474E54;

    box-sizing: border-box;
    padding-left: 16px;
    margin-bottom: 8px;
    display: block;
    width: 167px;
}

.rodape .parte {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-top: 32px;
}

.rodape .parte .b {
    padding-left: 0px;
}

.rodape .borda {
    border-left: 1px solid #5B5C5E;
    padding-left: 11px;
}

.rodape .parte .b {
    border-left: 2px solid #5B5C5E;
}

.rodape .i1 {
    width: 151px;
}

.rodape .i2 {
    width: 182px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.Orientadores {
    width: 101px;
    height: 65px;
    border-left: 1px solid #5B5C5E;
    padding-left: 5px;
}

/*Ocutar itens do desktop*/

#carrossel {
    display: none;
}

.rodape-desktop {
    display: none;
}